
.title {
  text-align: center;
  font-size: large;
  letter-spacing: 3rem;
  color: aliceblue;
}

.catalogue {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.catalogue__product {
  display: block;
  max-width: 10rem;
}